/* @import "tailwindcss";
@import "shadcn/tailwind.css";


@theme {
  --font-inter: "Inter", "Inter Fallback", sans-serif;

  --color-text-primary: #292929; 
  --color-text-secondary: #424242;
  --color-text-tertiary: #171717;  
  --color-text-muted: #737373;     
}

@layer base {
  body {
    font-family: var(--font-inter);
    color: var(--color-text-primary);
    font-weight: 600; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .site-container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 16px;
  }
} */


@import "tailwindcss";
@import "shadcn/tailwind.css";

@theme {
  --font-inter: "Inter", "Inter Fallback", sans-serif;
  --color-primary: #292929;
  --color-secondary: #424242;
  --color-tertiary: #171717;
  --color-muted: #737373;
}

@layer base {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  *, ::before, ::after {
    box-sizing: border-box; 
  }

  img, svg, video {
    max-width: 100%;
    height: auto;
  }

  body {
    font-family: var(--font-inter);
    color: var(--color-primary);
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .site-container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 16px;
  }
}

@layer utilities {
  .text-primary {
    color: var(--color-primary); /* #292929 */
    font-weight: 700;
  }
  
  .text-secondary {
    color: var(--color-secondary); /* #424242 */
    font-weight: 500;
  }
  
  .text-tertiary {
    color: var(--color-tertiary); /* #171717 */
    font-weight: 600;
  }
  
  .text-muted {
    color: var(--color-muted); /* #737373 */
    font-weight: 400;
  }
  
  .text-white {
    color: #ffffff; /* White */
    font-weight: 500;
  }
}